{% extends "base.html" %}
{% block content %}
    {% for plan in plans %}
        {{ plan.plan_name }} <br>
        {{plan.plan_description }} <br>
        {{ plan.category_name }} <br>
        {{ plan.due_date }} <br>
        {{ plan.is_urgent }} <br>

    {% endfor %}

    <ul class="collapsible popout ">
        <li>
            <div class="collapsible-header white-text light-blue darken-3 text-shadow collapsible-shadow ">
            <i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body collapsible-shadow"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text light-blue darken-3 text-shadow collapsible-shadow ">
            <i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body collapsible-shadow "><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text light-blue darken-3 text-shadow collapsible-shadow ">
            <i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body collapsible-shadow"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
  </ul>

{% endblock %}